################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ChatZakharov/.vs/ChatZakharov/v16/Server/sqlite3/db.lock
